$main-color = #cd0d2c  // 主色调

$golden-color-1 = rgb(255, 208, 75) // 黄色调 #ffd04b
$golden-color-2 = #ebbc51
$golden-color-3 =  #e29d39

$background-color = #f6f6f6  // 主背景色调

$grey-color-1 = #f0f0f0     // 
$grey-color-2 = #e4e4e4     // 